.empresaText {
    padding-top:200;
    display: inline-flex;
    text-size-adjust: 33;
    font-style: italic;
    font-weight:bold;
    color: blue;

}

.instaText {
    color: purple;
}

.textoSobreNos{ 
    color: red;
}
